.vs/
SWDService/obj/Debug/SWDService.pdb
SWDService/obj/Debug/SWDService.dll
SWDService/obj/Debug/SWDService.csproj.CoreCompileInputs.cache
SWDService/bin/Debug/SWDService.pdb
SWDService/bin/Debug/SWDService.dll
FashionShopAdmin/obj/Debug/FashionShopAdmin.pdb
FashionShopAdmin/obj/Debug/FashionShopAdmin.dll
FashionShopAdmin/obj/Debug/FashionShopAdmin.csproj.CoreCompileInputs.cache
FashionShopAdmin/bin/SWDService.pdb
FashionShopAdmin/bin/SWDService.dll
FashionShopAdmin/bin/FashionShopAdmin.pdb
FashionShopAdmin/bin/FashionShopAdmin.dll
